@model Lab5.Models.CalculatorVals

@{
    ViewData["Title"] = "Calculator";
}

<form method="POST">
    <legend>Simple Calculator</legend>
    <div>
        <input name="FirstValue"
                placeholder="Enter value 1" 
                type="number" 
                value="@Model.FirstValue" />
        <select name="Operator" 
                value="@Model.Operator">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input name="SecondValue"
                placeholder="Enter value 2"
                type="number"
                value="@Model.SecondValue" />
        <input type="submit" 
                value="Calculate" />
    </div>
    <br />
    <h4>Answer @Model.Answer</h4>
</form>
