@model Calc.Models.Calculator

@{
    ViewData["Title"] = "Home Page";
}

<form method="POST">
    <div>
        <input name="Operand1"
                placeholder="Operand 1" 
                type="number" 
                value="@Model.Operand1" />
        <select name="Operation" 
                value="@Model.Operation">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input name="Operand2"
                placeholder="Operand 2"
                type="number"
                value="@Model.Operand2" />
        <input type="submit" 
                value="Calc" />
    </div>
    
    <input name="Result"
            type="text"
            value="@Model.Result" />
    
</form>
